.nav-center {
    margin:0;
    float:none;
}

.navbar-inner{
    text-align:center;
}

.navbar-default{
  /*border-bottom: 1px solid #E8E8E8;*/
  background-color: #fff;
}

body {
  /*padding-top: 160px;*/
  padding-bottom:0px;
  margin:0px;
}

.logo img{
  height: 150px;
  margin-left: 200px;
}
