.heading {
  margin-top: 25px;
  margin-bottom: 40px;
}

.heading h1 {
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
}

.status img{
  float: right;
}

.info p{
  font-family: 'Neucha', cursive;
  font-size: 20px;
  line-height: normal;
}

.info h3{
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.info{
  margin-top: 95px;
}

.page{
  overflow:auto;
  min-height: 85%;
  padding-bottom:50px;
}
