.heading {
  margin-bottom: 20px;
}

.heading h1 {
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
}

.slack{
  float:left;
}

.email{
  margin-left:100px;
}

.col-xs-5{
  padding-left: 0px
}
.col-xs-2{
  padding-left: 0px
}

.page{
  overflow:auto;
  min-height: 85%;
  padding-bottom:50px;
}

h3{
  font-family: 'Droid Sans', sans-serif;
  font-size: 30px;
}
