.heading {
  margin-bottom: 20px;
}

.heading h1 {
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  font-size: 75px;
  text-align: center;
}

.slack{
  float:left;
}

.email{
  margin-left:100px;
}

.col-xs-5{
  padding-left: 0px
}
.col-xs-2{
  padding-left: 0px
}
