.heading {
  margin-bottom: 20px;
}

.heading h1 {
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  font-size: 75px;
  text-align: center;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: steelblue;
}

#chart {
    margin-left: 100px;
    text {
      font: 14px sans-serif;
    }
}
