.heading {
  margin-bottom: 20px;
}

.heading h1 {
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 3.0px;
}

#chart {
    margin-left: 7%;
    text {
      font: 14px sans-serif;
    }
}

.btn-group{
  margin-left: 38%;
}

.log-button{
  float:right;
  margin-right: 17%;
}

.page{
  overflow:auto;
  min-height: 85%;
  padding-bottom:50px;
}
