{% extends "base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock css %}

{% block main %}
{{ super() }}
<div class="container">
  <div class="row heading">
    <h1>All Logs</h1>
  </div>
  <div class="row status">
    <div class="picture col-md-6">
      <img src="{{ url_for('static', filename=('img/status-'+ log.level + '.png')) }}" height="400px">
    </div>
    <div class="description col-md-6">
      <div class="info">
        <h3>Current Level: {{log.level.title()}}</h3>
        <p>Coffee status was last checked on</p>
        <p>{{log.month}}/{{log.day}}/{{log.year}} at {{log.hour}}:{{log.minute}}{{log.post}}</p>
      </div>
    </div>
  </div>
</div>
{% endblock main %}


{% block cdn_js %}
{{ super() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.3/d3-tip.min.js"></script>
{% endblock cdn_js %}

{% block js %}
<script>
var log = {{log|tojson}}
</script>
{% endblock js %}
