{% extends "base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock css %}

{% block main %}
{{ super() }}
<div class="container">
  <h1>Datascope Coffee Bean Updates</h1>
</div>
{% endblock main %}


{% block cdn_js %}
{{ super() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.3/d3-tip.min.js"></script>
{% endblock cdn_js %}

{% block js %}

{% endblock js %}
